.multiStepFormPage {
  height: 100vh;
  width: 100%;
  background-color: #f0f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiStepFormContainer {
  width: 800px;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.multiStepFormContainerLeft {
  border-radius: 16px;
  background-image: url('./assets/bg-sidebar-desktop.svg');
  background-position: bottom;
  background-size: cover;
}

.multiStepFormContainerRight {
  padding: 32px 64px;
}

@media screen and (max-width: 800px) {
  .multiStepFormPage {
    display: block;

  }

  .multiStepFormContainer {
    display: block;
    width: 100%;
    padding: 0;
    background-color: #f0f9ff;
  }

  .multiStepFormContainerLeft {
    height: 150px;
    border-radius: 0;
    background-image: url('./assets/bg-sidebar-mobile.svg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .multiStepFormContainerRight {
    padding: 16px;
  }
}